<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Name</title>
  <link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
  <link 
    rel="stylesheet" 
    href="../assets/css/main.css">
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="../views/home.html">App Name</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="btn btn-outline-primary" href="../views/signin.html">Log in</a>
    </nav>
    <a class="btn btn-outline-primary" href="../views/signup.html">Sign up</a>
  </div>

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">One WorkSpace for Everyone</h1>
        <p class="lead text-muted">Detailed Intro </p>
        <p>
          <a class="btn btn-primary my-2" href="../views/signup">Try App Free</a>
        </p>
        </div>
    </section>

    <div id="pics-Slide" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#pics-Slide" data-slide-to="0" class="active"></li>
          <li data-target="#pics-Slide" data-slide-to="1"></li>
          <li data-target="#pics-Slide" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" src="../assets/img/sliding-pic-1.jpeg" alt="First slide">
          <div class="container">
            <div class="carousel-caption text-center">
              <h1>Planner and More</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="second-slide" src="../assets/img/sliding-pic-2.jpeg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption text-center">
              <h1>Stay Productive</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="../assets/img/sliding-pic-3.jpeg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-center">
                <h1>Work with Others</h1>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container marketing">
      <h2 class="mainText">Get Started for Free</h2>
      <hr class="featurette-divider">
      <div class="row">
        <div class="col-lg-4">
          <img src="../assets/img/account.png" alt="Generic placeholder image" width="100" height="100">
          <h2>1. Create an Account</h2>
        </div>
      <div class="col-lg-4">
        <img src="../assets/img/organizelist.png" alt="Generic placeholder image" width="100" height="100">
        <h2>2. Organize Your List</h2>
      </div>
        <div class="col-lg-4">
          <img src="../assets/img/collab.png" alt="Generic placeholder image" width="100" height="100">
          <h2>3. Share The Work</h2>
        </div>
      </div>
    </div>

    <footer class="index-footer">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>Group 5</p>
    </footer>
  </main>

    <script 
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
      crossorigin="anonymous">
    </script>
</body>
</html>
