<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up Page</title>
	<link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
	<link 
    rel="stylesheet" 
    href="main.css">
	<link 
	rel="stylesheet"
	href="signup.css">
</head>

<body class="container">

	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
		<h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">KO-LAB</a></h5>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="btn btn-outline-primary" href="login">Log in</a>
		</nav>
	</div>

	<form action="user/register" method="post">

		<h1 align="center">
			<span style="color: blue">Create an Account</span>
		</h1>

		<p align="center">Required fields are followed by
      <strong>
        <abbr title="required">
          <span style="color: red">*</span>
        </abbr>
      </strong>
    </p>

	<section>
		<div class="form-group">
			<label for="Fname">First Name </label>
			<strong>
	  <abbr title="required">
		<span style="color: red">*</span>
				</abbr>
	</strong>
			<input class="form-control" type="text" id="firstName" name="firstName" required>
		</div>
		
		<div class="form-group">
			<label for="Lname">Last Name </label>
			<strong>
	  <abbr title="required">
		<span style="color: red">*</span>
				</abbr>
	</strong>
			<input class="form-control" type="text" id="lastName" name="lastName" required>
		</div>

		<section>
			<div class="form-group">
				<label for="mail">E-mail </label>
				<strong>
          <abbr title="required">
            <span style="color: red">*</span>
					</abbr>
        </strong>
				<input class="form-control" type="email" id="email" name="email" required>
			</div>

			<div class="form-group">
				<label for="pwd">Password </label>
				<strong>
          <abbr title="required">
            <span style="color: red">*</span>
					</abbr>
        </strong>
				<input class="form-control" type="password" id="password" name="password" required>
			</div>

			<div class="form-group">
				<label for="pwd2">Confirmed Password </label>
				<strong>
          <abbr title="required">
            <span style="color: red">*</span>
					</abbr>
        </strong>
				<input class="form-control" type="password" id="password2" name="password2" required>
			</div>
		</section>

		<button type="submit" class="btn btn-outline-primary">Submit</button>
		<button type="reset" class="btn btn-default">Reset</button>

		<!-- add indicators of valid password creation -->
		<div id="message">
			<h3>Password must contain the following:</h3>
			<p id="length" class="invalid">Minimum <b>6 characters</b></p>
			<!-- 
			<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  			<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  			<p id="number" class="invalid">A <b>number</b></p> -->
		</div>

		<script>
		var myInput = document.getElementById("password");
		var length = document.getElementById("length");
		// var capital = document.getElementById("capital");
		// var number = document.getElementById("number");

		// When the user clicks on the password field, show the message box
		myInput.onfocus = function() {
  		document.getElementById("message").style.display = "block";}

		// When the user clicks outside of the password field, hide the message box
		myInput.onblur = function() {
  		document.getElementById("message").style.display = "none";}

		// Validate on every key release inside password
		myInput.onkeyup = function() {
		if(myInput.value.length >= 6) 
		{
   			length.classList.remove("invalid");
    		length.classList.add("valid");
  		} 
		else 
		{
    		length.classList.remove("valid");
    		length.classList.add("invalid");
  		} }
  		</script>
		
	</form>

	<footer class="index-footer">
		<p>Group 5</p>
	</footer>

</body>
</html>
